fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-core
faiss-cpu
sentence-transformers
PyPDF2
beautifulsoup4
requests